// colors
$accentColor = #7367F0
$textColor = #626262
$borderColor = #eaecef
// $codeBgColor = #110d26
$codeBgColor = #f5f7fb
$arrowBgColor = #ccc

// layout
$navbarHeight = 4rem
$sidebarWidth = 15rem
$contentWidth = 1200px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 800px
$MQMobileNarrow = 419px

// Vuesax
$background = #ffffff

* {
  box-sizing: border-box;
  outline:none
}
